@import "tailwindcss";

@layer utilities {
  /* 크롬, 사파리, 엣지용 */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* 파이어폭스용 */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px; /* 세로 스크롤바 너비 */
    height: 6px; /* 가로 스크롤바 높이 */
  }

  /* 스크롤바 막대 (움직이는 부분) */
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* slate-300 색상 */
    border-radius: 9999px; /* 둥글게 */
  }

  /* 스크롤바 트랙 (배경) */
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: transparent; /* 배경 투명하게 */
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
